.alert {
   &__container {
      justify-self: center;
      position: absolute;
      top: 2%;

      padding-inline: var(--spacing-md-1);

      display: none;
   }

   display: flex;
   flex-direction: column;
   gap: var(--spacing-md-1);

   border-radius: 0.75rem;
   padding: var(--spacing-md-2);

   background-color: var(--color-accent-3);
   color: white;

   &__header {
      display: flex;
      align-items: center;
      gap: var(--spacing-sm-2);
      &-title {
         font-size: 1rem;
      }
   }

   &__text {
      color: var(--color-neutral-4);
      font-size: 0.9rem;
   }
}

@keyframes alert {
   0% {
      transform: translateY(-150%);
   }
   20% {
      transform: translateY(0%);
   }

   80% {
      transform: translateY(0%);
   }

   100% {
      transform: translateY(-150%);
      display: none;
   }
}
